/* .App {
  font-family: sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: aqua;
  min-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 10px;
}
.links {
  display: flex;
}
p {
  padding: 5px;
  text-decoration: underline;
}
p:hover {
  cursor: pointer;
}

.main-container {
  display: flex;
  flex-direction: column; 
  min-height: calc(100vh - 4rem);
  background-color: coral;
}

.sidebar {
  display: flex;
  height: 60px; 
  background-color: cornsilk;
  align-items: center;
  justify-content: space-between; 
  padding: 0 1rem;
}

.content {
  display: flex;
  flex-grow: 1;
  background-color: white;
  padding: 1rem;
}
 */
div:where(.swal2-container) div:where(.swal2-html-container) {
  z-index: 1;
  justify-content: center;
  margin: 0;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 0;
  overflow: auto;
  color: inherit;
  font-size: 1.125em;
  font-weight: normal;
  line-height: normal;
  text-align: center;
  word-wrap: break-word;
  word-break: break-word;
  cursor: initial;
}

.swal2-html-container {

  padding: 0;
}
.swal2-html-container {

  padding: 0;
}